<!DOCTYPE html>
<html lang="en">

<head>
    <title>密码学课设</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>Welcome</h1>
    <div id="inputpart">
        <p>
            <div>
                <a>用户名：</a>
                <input v-model="username" type="text" />
            </div>
        </p>
        <p>
            <div>
                <a>
                    密码：
                </a>
                <input v-model="passwd" type="password" />
            </div>
        </p>
        <p>
            <button @click="submit">submit</button>
        </p>
        <p>
            <a href="../register/register.html">注册账号</a>
        </p>
    </div>

    <script src="login.js"></script>
</body>

</html>