<!DOCTYPE html>
<html lang="en">
    <head>
        <title>密码学课设</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="d:/code/vue.js"></script>
    </head>
    <body>
    <h1>Welcome</h1>
    <p>
        <div>
            <text>用户名：</text>
            <input v-model="username" type="text" />
        </div>
    </p>
    <p>
        <div>
            <text>
                密码：
            </text>
            <input v-model="passwd" type="password" />
        </div>
    </p>
    <p>
        <buttom>submit</buttom>
    </p>
    <script src="login.js"></script>
    </body>
</html>